ul#articles
  - each article in articles
    li.article
      p.created-at #{article.created_at}
      h2.title 
        a(href: '/blog/'+article.slug, title='View login page') #{article.title}
      div.body #{article.body}
