div
  form(method: 'post')
    div 
      - if (error)
        p.error 
        - if (error.type == 'name') 
          No users with name “#{ error.data }” were found in our database.
        - if (error.type == 'password')
          The password doesn't match.
      p
        label(for: 'login') Login
        input(id: 'login', name: 'login') 
      p 
        label(for: 'password') Password
        input(id: 'password', name: 'password')
      p
        input(type: 'submit', value: 'submit')
